md-card{
    padding-top: 40px;
    width: 400px;
    margin: auto;
    vertical-align: middle;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

md-card-title{
    text-align: center;
    margin-bottom: 20px;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.git-input{
    width: 100%;
}